/*----------------------------------------------------------------------------
    Mobile Design First / Fallback
------------------------------------------------------------------------------*/

/* -------------------- 
    Variables
---------------------*/
:root {
    /*-----Colors-----*/

    /* Primary */
    --prim-dark-blue: hsl(243, 87%, 12%);
    --prim-washed-blue: hsl(238, 22%, 44%);

    /* Accent */
    --accent-blue: hsl(224, 93%, 58%);
    --accent-cyan: hsl(170, 45%, 43%);

    /* Neutral */
    --neutral-blue: hsl(240, 75%, 98%);
    --neutral-gray: hsl(0, 0%, 75%);

    /*-----Fonts-----*/
    --ff-headings: 'Raleway', sans-serif;
    --ff-body: 'Open Sans', sans-serif;
}

/* -------------------- 
    General Styles
---------------------*/
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}