/*----------------------------------------------------------------------------
    Mobile Design First
------------------------------------------------------------------------------*/

/* -------------------- 
    Variables
---------------------*/
:root {
    /*-----Colors-----*/

    /* Primary */
    --prim-dark-blue: hsl(243, 87%, 12%);
    --prim-washed-blue: hsl(238, 22%, 44%);

    /* Accent */
    --accent-blue: hsl(224, 93%, 58%);
    --accent-cyan: hsl(170, 45%, 43%);

    /* Neutral */
    --neutral-blue: hsl(240, 75%, 98%);
    --neutral-gray: hsl(0, 0%, 75%);

    /*-----Fonts-----*/
    --ff-headings: 'Raleway', sans-serif;
    --ff-body: 'Open Sans', sans-serif;
}

/* -------------------- 
    Default Styles
---------------------*/
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    font-family: var(--ff-body);
    font-size: 14px;
}
header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 1rem;
    width: 91%;
}
ul {
    list-style: none;
}
a {
    color: var(--prim-dark-blue);
    text-decoration: none;
}
h1, 
h2,
p {
    margin-bottom: 1rem;
} 
h1 {
    font-size: 24px;
    font-weight: 700;
}
h2 {
    font-size: 18px;
    font-family: var(--ff-headings);
    font-weight: 700;
}
footer {
    background-color: var(--prim-dark-blue);
    color: var(--neutral-blue);
    text-align: left;
    padding: 4rem 1rem;
}
footer a {
    color: var(--neutral-blue);
}
address {
    margin-bottom: 2rem;
    font-style: normal;
}
footer li {
    margin-bottom: 0.5rem;
}
footer li:last-child {
    margin-bottom: none;
}
/* -------------------- 
    Custom Styles
---------------------*/
.illustration {
    margin-bottom: 3.5rem;
}
.illustration img {
    width: 100%;
}
.bg-curve {
    height: 100px;
    width: 100%;
    background-image: url("images/bg-curve-mobile.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*-----Header Section-----*/
.logo {
    width: 25%;
}
.logo img {
    width: 100%;
}
.pages-nav {
    width: 75%;
}
.pages-nav ul {
    display: flex;
    justify-content: end;
}
.pages-nav ul li {
    margin-right: 0.5rem;
}
.pages-nav ul li:last-child {
    margin-right: 0;
}

/*-----Main Section-----*/

/* Landing Section */
#landing-section {
    margin: 4rem 1rem 5rem 1rem;
}
#landing-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#landing-section input {
    width: 100%;
    height: 40px;
    margin-bottom: 1rem;
    font-size: 12px;
    font-family: var(--ff-headings);
    padding: 13px 21px;
}
#landing-section button {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 3px;
    background-color: var(--accent-blue);
    color: var(--neutral-blue);
    font-size: 14px;
    font-family: var(--ff-headings);
    font-weight: 700;
}

/* Productive Section */
#prod-section {
    background-color: var(--neutral-blue);
    padding: 2rem 1rem 4rem 1rem;
}
#prod-section .how-link {
    margin-bottom: 3rem;
}
#prod-section a {
    color: var(--accent-cyan);
    border-bottom: 2px solid var(--accent-cyan);
    padding-bottom: 0.5rem;
    margin-bottom: 5rem;
}
#prod-section a span {
    margin-right: 1rem;
}
#prod-section figure {
    background-color: white;
    border-radius: 3px;
    padding: 2rem;
    text-align: left;
}
#prod-section blockquote p {
    font-size: 10px;
}
#prod-section blockquote img {
    margin-bottom: 0.5rem;
}
#prod-section figcaption {
    display: flex;
    flex-direction: row;
}
#prod-section .avatar {
    margin-right: 1rem;
}
#prod-section .avatar img{
    width: 25px;
    border-radius: 50%;
}
#prod-section .avatar-name {
    font-size: 9px;
    font-weight: 700;
    margin-bottom: 0;
}
#prod-section .avatar-title {
    font-size: 6px;
}

/* Call-to-Action Section */
#cta-section {
    padding: 3rem 1rem;
    color: var(--neutral-blue);
    background-color: var(--prim-washed-blue);
}
#cta-section input {
    width: 100%;
    height: 32px;
    margin-bottom: 1rem;
    padding: 10px 8px;
    font-size: 10px;
    font-family: var(--ff-headings);
}
#cta-section button {
    width: 100%;
    height: 32px;
    border: none;
    border-radius: 3px;
    background-color: var(--accent-blue);
    color: var(--neutral-blue);
    font-size: 10px;
    font-weight: 700;
    font-family: var(--ff-headings);
    padding: 10px 8px;
}

/*-----Footer Section-----*/
.footer-logo {
    width: 50%;
    margin-bottom: 2rem;
}
.footer-logo img {
    width: 100%;
}

/* Address Section */
.phone {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
}
.phone img {
    margin-right: 0.5rem;
}
.email {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.email img {
    margin-right: 0.5rem;
}

/* More Pages Section */
.more-pages {
    margin-bottom: 1.50rem;
}

/* Misc Pages Section */
.misc-pages {
    margin-bottom: 1.50rem;
}

/* Social Media Section */
.social-media {
    margin-bottom: 2rem;
}
.social-media ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.social-media li {
    width: 10%;
    margin-right: 1rem;
}
.social-media li:last-child {
    margin-right: 0;
}
.social-media img {
    width: 100%;
}

/* Attribution Section */
.attribution {
    text-align: center;
}
.attribution a {
    color: var(--accent-cyan);
}

/*----------------------------------------------------------------------------
    Tablet Design
------------------------------------------------------------------------------*/
@media screen and (min-width: 700px) {
    /* -------------------- 
        Specific Styles
    ---------------------*/
    .bg-curve {
        height: 175px;
    }

    /*-----Header Section-----*/
    header {
        margin: 3rem;
        width: 88%;
    }
    .pages-nav {
        align-self: center;
        font-size: 18px;
    }
    .pages-nav ul li {
        margin-right: 2rem;
    }
    .pages-nav ul li:last-child {
        margin-right: 0;
    }

    /*-----Main Section-----*/

    /* Landing Section */
    #landing-section {
        margin: 4rem 3rem 7rem 3rem;
    }
    #landing-section input {
        width: 75%;
    }
    #landing-section button {
        width: 75%;
    }

    /* Productive Section */
    #prod-section {
        padding: 2rem 3rem 4rem 3rem;
    }
    #prod-section .how-link {
        margin-bottom: 4rem;
    }
    #prod-section a {
        margin-bottom: 7rem;
    }
    #prod-section figure {
        border-radius: 5px;
    }
    #prod-section blockquote p {
        font-size: 12px;
    }
    #prod-section figcaption {
        align-items: center;
    }
    #prod-section .avatar img{
        width: 50px;
    }
    #prod-section .avatar-name {
        font-size: 12px;
    }
    #prod-section .avatar-title {
        font-size: 10px;
    }
    /* Call-to-Action Section */
    #cta-section {
        padding: 3rem;
    }
    #cta-section input {
        width: 75%;
        border-radius: 5px;
    }
    #cta-section button {
        width: 75%;
        border-radius: 5px;
    }
    /*-----Footer Section-----*/
    footer {
        padding: 4rem 3rem;
    }
    .footer-logo {
        width: 25%;
    }

    /* More Pages Section */
    .more-pages {
        margin-bottom: 1.50rem;
    }

    /* Misc Pages Section */
    .misc-pages {
        margin-bottom: 1.50rem;
    }

    /* Social Media Section */
    .social-media li {
        width: 5%;
    }
}